<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="6.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Fody" version="6.9.2" targetFramework="net48" developmentDependency="true" />
  <package id="Guna.Charts.WinForms" version="1.1.0" targetFramework="net48" />
  <package id="Guna.UI2.WinForms" version="2.0.4.7" targetFramework="net48" />
  <package id="LczxyCustoms" version="1.6.0" targetFramework="net48" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net48" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net48" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
</packages>